.App {
  padding-top: 15px;
  /* overflow: hidden; */
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("//upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Phi_fenomeni.gif/50px-Phi_fenomeni.gif")
    50% 50% no-repeat rgb(249, 249, 249);
}

.containerStyle {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.inputContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.searchInput {
  padding: 10px;
  margin-bottom: 15px;
  width: 30%;
  /* border-radius: 8px; */
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-width: 0px;
  font-size: 15px;
}
.buttonStyle {
  background-color: #2196f3;
  color: white;
  height: 41px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}


.totalDataFound {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.totalTextStyle {
  font-weight: bold;
  font-size: 14px;
  border: 1px solid green;
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  color: green;
}
